{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": false,
    "node": true
  },
  "plugins": ["react", "react-hooks", "jsx-a11y", "prettier"],
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "plugin:@next/next/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "semi": [2, "never"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "object-curly-newline": "off",
    "implicit-arrow-linebreak": "off",
    "no-confusing-arrow": "off",
    "operator-linebreak": "off",
    "arrow-body-style": ["error", "as-needed"],
    "sort-keys": "off",
    "no-case-declarations": "off"
  }
}
